---
import LogoSiteName from '../components/NavbarGlobalComponents/LogoSiteName.astro';
import Navbar from '../components/NavbarGlobalComponents/NavbarComponent.astro';
import ContactButtonComponent from '../components/NavbarGlobalComponents/ContactButtonComponent.vue';
import LanguageDropdown from '../components/NavbarGlobalComponents/LanguageDropdown.astro';

const { lang } = Astro.props;

// Get current path
const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang={lang}>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Site</title>
</head>
<body>
  <header>
    <!-- Logo imported here -->
    <LogoSiteName lang={lang} />

    <!-- Navbar with contact button passed as slot -->
    <Navbar lang={lang} currentPath={currentPath}>

        <!-- LANGUAGE DROPDOWN -->
        <LanguageDropdown slot="language-dropdown" lang={lang} currentPath={currentPath} />

      <ContactButtonComponent slot="contact-button" client:load lang={lang} />
    </Navbar>
  </header>

  <slot />
</body>
</html>