---

import LogoSiteName from '../components/NavbarGlobalComponents/LogoSiteName.astro';
import Navbar from '../components/NavbarGlobalComponents/NavbarComponent.astro';
import ContactButtonComponent from '../components/NavbarGlobalComponents/ContactButtonComponent.vue';
import LanguageDropdown from '../components/NavbarGlobalComponents/LanguageDropdown.astro';
import FooterComponent from '../components/FooterGlobalComponents/FooterComponent.astro';

const currentPath = Astro.url.pathname;
const detectedLang = currentPath.startsWith('/en') ? 'en' : 'ro';
const { lang = detectedLang } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/assets/css/main.css" />

  <title>Your Site</title>
</head>
<body>
  <header>
    <Navbar lang={lang} currentPath={currentPath}>
      <LogoSiteName slot="logo-and-name" lang={lang} />
      <LanguageDropdown slot="language-dropdown" lang={lang} currentPath={currentPath} />
      <ContactButtonComponent slot="contact-button" client:load lang={lang} />
    </Navbar>
  </header>

  <slot />

  <FooterComponent lang={lang} />
</body>
</html>